<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.zhub.ppeng.mapper.MessageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="fun.zhub.ppeng.entity.Message">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>


    <!--根据用户id和时间，查询个数限制查询-->
    <select id="selectMessageListByIdAndTimeLimit" resultType="fun.zhub.ppeng.entity.Message">
        SELECT id,user_id,title,content,status,create_time,is_deleted
        FROM t_user_message
        WHERE is_deleted=0
          AND (user_id = #{userId} AND create_time &lt; #{dateTime} )
        ORDER BY status ASC,create_time DESC limit #{size}
    </select>

</mapper>
