<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fun.zhub.ppeng.mapper.RecipeMapper">


    <select id="getRecipeListByIdAndTimeLimit" resultType="fun.zhub.ppeng.entity.Recipe">
        SELECT id, user_id, type_id, title, material, content, media_url, is_video, is_professional, likes, collections, create_time, update_time, censor_state, is_baned, is_deleted
        FROM t_recipe
        WHERE is_deleted = 0 AND  (is_baned = 0 AND ${field} = #{id} AND create_time &lt; #{dateTime})
        ORDER BY create_time DESC
        limit #{size}
    </select>
</mapper>
